.contenedorprincipal {
    width: 640px;
}

.introduccion {
    width: 640px;
}

.texto {
    width: 600px;
    margin-left: 15px;
}

.titulo0 {
    width: 600px;
    margin-left: 15px;
}

.contendor {
    width: 640px;
    display: flex;
    flex-direction: column;
}

.texto1 {
    width: 600px;
    margin-left: 15px;
}

.titulo {
    width: 600px;
    margin-left: 15px;
}

.imagen {
    width: 200px;
}

.imagenmatrox {
    width: 600px;
}

.imagenboton {
    width: 150px;
    margin-inline-end: 50%;
}

.contenedoradder {
    background-color: rgb(119, 142, 145);
    display: flex;
    flex-direction: column;
    width: 640px;
}

.texto2 {
    width: 600px;
    color: aliceblue;
    margin-left: 15px;
}

.imagenadder {
    width: 350px;
    align-self: center;
}

.boton2 {
    width: 150px;
}

.titulo1 {
    color: aliceblue;
    margin-left: 15px;
}

.titulo2 {
    color: aliceblue;
    margin-left: 15px;
}

.texto3 {
    color: aliceblue;
    margin-left: 15px;
}

.texto4 {
    color: aliceblue;
    margin: 15px;
}

.contenedorcasoestudio {
    width: 640px;
}

.titulo5 {
    width: 600px;
    margin-left: 15px;
}

.texto5 {
    width: 600px;
    margin-left: 15px;
}

.texto6 {
    width: 600px;
    margin-left: 15px;
}

.textoeimagen {
    width: 640px;
    display: flex;
}

.institutortve {
    width: 200px;
    margin-left: 50px;
}

.texto7 {
    width: 300px;
    margin-left: 15px;
    align-items: center;
}

.botoncasoestudio {
    width: 640px;
}

.boton3 {
    width: 150px;
}

.contendorcontacto {
    width: 640px;
    background-color: rgb(178, 166, 154);
    display: flex;
    flex-direction: column;
    align-self: center;
}

.contacto {
    width: 600px;
    margin: 15px;
}